@{
    ViewBag.Title = "Despre";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<p>Proiect la disciplina Proiectarea Arhitecturala a Sistemelor Software (PASS) Varianta 3.</p>
<p>Scopul acestei teme il constituie studiul unor tehnologii si tipare de acces la date - Data Access Object.</p>