@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Proiect la disciplina Proiectarea Arhitecturala a Sistemelor Software (PASS) Varianta 3</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Cerinta Proiectului</h2>
    <p>
      Descriere a temei: Un program de horoscop pentru studenti poate realiza urmatoarele operatii:
    </p>
    <p>
      prezice daca media unui student, identificat prin numarul matricol, va creste sau va scadea in viitor, pe baza urmatorului
      algoritm de horoscop: daca suma caracterelor din numarul matricol si din nume, modulo 2, este egala cu 1,
      media va creste, iar daca suma este zero, media va descreste
    </p>
    <p>
      prezice cati dintre studentii cu medie peste 8 vor avea media scazuta in viitor
      (pe baza algoritmului de predictie de la punctul anterior)
    </p>
    <p>
      prezice daca un student, identificat prin numarul matricol, va avea astazi o zi buna.
      Algoritmul de horoscop este: daca ziua din data curenta + prima litera a numelui modulo 2 este 1, va avea o zi buna.
    </p>

  </div>
    
    <div class="col-md-4">
      
    </div>
</div>